<a href="https://colab.research.google.com/github/TheQuanEnthusiast/MachineLearning/blob/main/Gender_Classification_With_Names.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Preparing

In [1]:
import numpy as np
import pandas as pd

In [6]:
d1 = pd.read_csv('/content/female.csv', header=None)

In [7]:
d2 = pd.read_csv('/content/male.csv', header=None)

In [8]:
d1.head()

         0
0  Abagael
1  Abagail
2     Abbe
3    Abbey
4     Abbi

In [9]:
d2.head()

       0
0  Aamir
1  Aaron
2  Abbey
3  Abbie
4  Abbot

In [11]:
#Let's assign column name 'name' to our DataFrame
d1.columns = ['name']
d2.columns = ['name']

In [12]:
d1.head()

      name
0  Abagael
1  Abagail
2     Abbe
3    Abbey
4     Abbi

In [13]:
d2.head()

    name
0  Aamir
1  Aaron
2  Abbey
3  Abbie
4  Abbot

In [14]:
d1.shape

(5001, 1)

In [15]:
d2.shape

(2943, 1)

In [16]:
#Here we will need second column 'sex' to classify our names whether they are male or female.
#Let's assign 0 to female and 1 to male. We can do create this with np.zeros and np.ones method
n1 = np.zeros(shape=(5001, 1)).astype(int)
n2 = np.ones(shape=(2943, 1)).astype(int)

In [23]:
#As our n1 and n2 are numpy arrays we must convert them into pandas DataFrame
n1_converted = pd.DataFrame(n1, columns = ['sex'])
n2_converted = pd.DataFrame(n2, columns=['sex'])

In [47]:
data1 = np.vstack((d1, d2))

In [49]:
data2 = np.vstack((n1_converted, n2_converted))

In [52]:
x = np.hstack((data1, data2))

In [53]:
x1 = pd.DataFrame(x, columns = ['name', 'sex'])

In [64]:
df = x1.sample(frac=1)

In [65]:
df

            name sex
3376       Marni   0
4112      Rhodia   0
1069  Constantia   0
3737       Nerti   0
6189      Hirsch   1
...          ...  ..
3831      Odetta   0
5558      Damian   1
6784    Muhammad   1
4114       Rhody   0
2157    Hermione   0

[7944 rows x 2 columns]

In [67]:
#Importing ML algorithms
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer

In [68]:
df.head()

            name sex
3376       Marni   0
4112      Rhodia   0
1069  Constantia   0
3737       Nerti   0
6189      Hirsch   1

In [140]:
df['sex'] = pd.to_numeric(df['sex'])

In [141]:
df.size

15888

In [142]:
df.shape

(7944, 2)

In [143]:
df.columns

Index(['name', 'sex'], dtype='object')

In [144]:
df.dtypes

name    object
sex      int64
dtype: object

In [145]:
#Checking for null values
df.isnull().sum()

name    0
sex     0
dtype: int64

In [146]:
X_features = df['name']

In [147]:
cv = CountVectorizer()
X = cv.fit_transform(X_features)

In [148]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['aamir',
 'aaron',
 'abagael',
 'abagail',
 'abbe',
 'abbey',
 'abbi',
 'abbie',
 'abbot',
 'abbott',
 'abby',
 'abdel',
 'abdul',
 'abdulkarim',
 'abdullah',
 'abe',
 'abel',
 'abelard',
 'abigael',
 'abigail',
 'abigale',
 'abner',
 'abra',
 'abraham',
 'abram',
 'acacia',
 'ace',
 'ada',
 'adah',
 'adair',
 'adaline',
 'adam',
 'adams',
 'adara',
 'addie',
 'addis',
 'adel',
 'adela',
 'adelaide',
 'adele',
 'adelice',
 'adelina',
 'adelind',
 'adeline',
 'adella',
 'adelle',
 'adena',
 'adey',
 'adger',
 'adi',
 'adiana',
 'adina',
 'aditya',
 'adlai',
 'adnan',
 'adolf',
 'adolfo',
 'adolph',
 'adolphe',
 'adolpho',
 'adolphus',
 'adora',
 'adore',
 'adoree',
 'adorne',
 'adrea',
 'adria',
 'adriaens',
 'adrian',
 'adriana',
 'adriane',
 'adrianna',
 'adrianne',
 'adrick',
 'adrien',
 'adriena',
 'adrienne',
 'aeriel',
 'aeriela',
 'aeriell',
 'ag',
 'agace',
 'agamemnon',
 'agata',
 'agatha',
 'agathe',
 'aggi',
 'aggie',
 'aggy',
 'agna',
 'agnella',
 'agnes',
 'agnese',
 'agnesse',
 'agneta',
 'agnola',
 'agretha',
 'aguinaldo',
 'aguste',
 'agustin',
 'aharon',
 'ahmad',
 'ahmed',
 'ahmet',
 'aida',
 'aidan',
 'aigneis',
 'aila',
 'aile',
 'ailee',
 'aileen',
 'ailene',
 'ailey',
 'aili',
 'ailina',
 'ailyn',
 'aime',
 'aimee',
 'aimil',
 'aina',
 'aindrea',
 'ainslee',
 'ainsley',
 'ainslie',
 'ajai',
 'ajay',
 'al',
 'alaa',
 'alain',
 'alaine',
 'alameda',
 'alan',
 'alana',
 'alanah',
 'alane',
 'alanna',
 'alasdair',
 'alastair',
 'alayne',
 'albatros',
 'albert',
 'alberta',
 'albertina',
 'albertine',
 'alberto',
 'albina',
 'albrecht',
 'alden',
 'aldis',
 'aldo',
 'aldric',
 'aldrich',
 'aldus',
 'aldwin',
 'alec',
 'alecia',
 'aleck',
 'aleda',
 'aleece',
 'aleecia',
 'aleen',
 'alejandra',
 'alejandrina',
 'alejandro',
 'aleks',
 'aleksandrs',
 'alena',
 'alene',
 'alessandra',
 'alessandro',
 'aleta',
 'alethea',
 'alex',
 'alexa',
 'alexander',
 'alexandra',
 'alexandrina',
 'alexei',
 'alexi',
 'alexia',
 'alexina',
 'alexine',
 'alexis',
 'alf',
 'alfie',
 'alfonse',
 'alfonso',
 'alfonzo',
 'alford',
 'alfred',
 'alfreda',
 'alfredo',
 'algernon',
 'ali',
 'alia',
 'alic',
 'alica',
 'alice',
 'alicea',
 'alicia',
 'alida',
 'alidia',
 'alina',
 'aline',
 'alis',
 'alisa',
 'alisha',
 'alison',
 'alissa',
 'alister',
 'alisun',
 'alix',
 'aliza',
 'alla',
 'allah',
 'allan',
 'alleen',
 'allegra',
 'allen',
 'allene',
 'alley',
 'alli',
 'allianora',
 'allie',
 'allin',
 'allina',
 'allis',
 'allison',
 'allissa',
 'allsun',
 'ally',
 'allyce',
 'allyn',
 'allys',
 'allyson',
 'alma',
 'almeda',
 'almeria',
 'almeta',
 'almira',
 'almire',
 'aloise',
 'aloisia',
 'alonso',
 'alonzo',
 'aloysia',
 'aloysius',
 'alpa',
 'alphonse',
 'alphonso',
 'alston',
 'alta',
 'althea',
 'alton',
 'alvera',
 'alvin',
 'alvina',
 'alvinia',
 'alvira',
 'alwin',
 'alyce',
 'alyda',
 'alys',
 'alysa',
 'alyse',
 'alysia',
 'alyson',
 'alyss',
 'alyssa',
 'amabel',
 'amabelle',
 'amadeus',
 'amalea',
 'amalee',
 'amaleta',
 'amalia',
 'amalie',
 'amalita',
 'amalle',
 'amanda',
 'amandi',
 'amandie',
 'amandy',
 'amara',
 'amargo',
 'amata',
 'amber',
 'amberly',
 'ambros',
 'ambrose',
 'ambrosi',
 'ambrosia',
 'ambrosio',
 'ambrosius',
 'ambur',
 'ame',
 'amelia',
 'amelie',
 'amelina',
 'ameline',
 'amelita',
 'amery',
 'ami',
 'amie',
 'amity',
 'ammamaria',
 'amory',
 'amos',
 'amy',
 'ana',
 'anabel',
 'anabella',
 'anabelle',
 'anais',
 'analiese',
 'analise',
 'anallese',
 'anallise',
 'anastasia',
 'anastasie',
 'anastassia',
 'anatol',
 'anatola',
 'anatole',
 'anatollo',
 'anatoly',
 'andee',
 'anders',
 'andi',
 'andie',
 'andonis',
 'andra',
 'andre',
 'andrea',
 'andreana',
 'andreas',
 'andree',
 'andrei',
 'andrej',
 'andres',
 'andrew',
 'andrey',
 'andri',
 'andria',
 'andriana',
 'andriette',
 'andromache',
 'andromeda',
 'andros',
 'andrus',
 'andrzej',
 'andy',
 'anestassia',
 'anet',
 'anett',
 'anetta',
 'anette',
 'ange',
 'angel',
 'angela',
 'angele',
 'angelia',
 'angelica',
 'angelico',
 'angelika',
 'angelina',
 'angeline',
 'angelique',
 'angelita',
 'angelle',
 'angelo',
 'angie',
 'angil',
 'angus',
 'angy',
 'ania',
 'anica',
 'anissa',
 'anita',
 'anitra',
 'anja',
 'anjanette',
 'anjela',
 'ann',
 'anna',
 'annabal',
 'annabel',
 'annabela',
 'annabell',
 'annabella',
 'annabelle',
 'annadiana',
 'annadiane',
 'annalee',
 'annalena',
 'annaliese',
 'annalisa',
 'annalise',
 'annalyse',
 'annamari',
 'annamaria',
 'annamarie',
 'anne',
 'annecorinne',
 'anneliese',
 'annelise',
 'annemarie',
 'annetta',
 'annette',
 'anni',
 'annice',
 'annie',
 'annissa',
 'annmaria',
 'annmarie',
 'annnora',
 'annora',
 'anny',
 'ansel',
 'ansell',
 'anselm',
 'anselma',
 'ansley',
 'anson',
 'anstice',
 'anthe',
 'anthea',
 'anthia',
 'anthony',
 'antin',
 'antoine',
 'antoinette',
 'anton',
 'antone',
 'antonella',
 'antonetta',
 'antoni',
 'antonia',
 'antonie',
 'antonietta',
 'antonin',
 'antonina',
 'antonino',
 'antonio',
 'antonius',
 'antony',
 'anurag',
 'anya',
 'aphrodite',
 'apollo',
 'apostolos',
 'appolonia',
 'april',
 'aprilette',
 'ara',
 'arabel',
 'arabela',
 'arabele',
 'arabella',
 'arabelle',
 'aram',
 'archibald',
 'archibold',
 'archie',
 'archon',
 'archy',
 'arda',
 'ardath',
 'ardeen',
 'ardelia',
 'ardelis',
 'ardella',
 'ardelle',
 'arden',
 'ardene',
 'ardenia',
 'ardine',
 'ardis',
 'ardith',
 'ardra',
 'ardyce',
 'ardys',
 'ardyth',
 'arel',
 'aretha',
 'ari',
 'ariadne',
 'ariana',
 'arianne',
 'aridatha',
 'arie',
 'ariel',
 'ariela',
 'ariella',
 'arielle',
 'aristotle',
 'arlana',
 'arlee',
 'arleen',
 'arlen',
 'arlena',
 'arlene',
 'arleta',
 'arlette',
 'arleyne',
 'arlie',
 'arliene',
 'arlina',
 'arlinda',
 'arline',
 'arlo',
 'arly',
 'arlyn',
 'arlyne',
 'armand',
 'armando',
 'armond',
 'armstrong',
 'arne',
 'arnie',
 'arnold',
 'arnoldo',
 'aron',
 'arron',
 'art',
 'arther',
 'arthur',
 'artie',
 'artur',
 'arturo',
 'arvie',
 'arvin',
 'arvind',
 'arvy',
 'aryn',
 'ash',
 'ashby',
 'ashely',
 'ashish',
 'ashlee',
 'ashleigh',
 'ashlen',
 'ashley',
 'ashli',
 'ashlie',
 'ashly',
 'ashton',
 'asia',
 'astra',
 'astrid',
 'astrix',
 'atalanta',
 'athena',
 'athene',
 'atlanta',
 'atlante',
 'aub',
 'aube',
 'aubert',
 'auberta',
 'aubine',
 'aubree',
 'aubrette',
 'aubrey',
 'aubrie',
 'aubry',
 'audi',
 'audie',
 'audra',
 'audre',
 'audrey',
 'audrie',
 'audry',
 'audrye',
 'audy',
 'augie',
 'august',
 'augusta',
 'auguste',
 'augustin',
 'augustina',
 'augustine',
 'augusto',
 'augustus',
 'aura',
 'aurea',
 'aurel',
 'aurelea',
 'aurelia',
 'aurelie',
 'auria',
 'aurie',
 'aurilia',
 'aurlie',
 'auroora',
 'aurora',
 'aurore',
 'austen',
 'austin',
 'austina',
 'austine',
 'ava',
 'ave',
 'aveline',
 'averell',
 'averil',
 'averill',
 'avery',
 'averyl',
 'avi',
 'avie',
 'avis',
 'aviva',
 'avivah',
 'avraham',
 'avram',
 'avril',
 'avrit',
 'avrom',
 'axel',
 'aylmer',
 'ayn',
 'aziz',
 'bab',
 'babara',
 'babette',
 'babita',
 'babs',
 'bailey',
 'bailie',
 'baillie',
 'baily',
 'baird',
 'baldwin',
 'bambi',
 'bambie',
 'bamby',
 'bancroft',
 'barb',
 'barbabas',
 'barbabra',
 'barbara',
 'barbaraanne',
 'barbe',
 'barbee',
 'barbette',
 'barbey',
 'barbi',
 'barbie',
 'barbra',
 'barby',
 'barclay',
 'bard',
 'barde',
 'bari',
 'barn',
 'barnabas',
 'barnabe',
 'barnaby',
 'barnard',
 'barnebas',
 'barnett',
 'barney',
 'barnie',
 'barny',
 'baron',
 'barr',
 'barret',
 'barrett',
 'barri',
 'barrie',
 'barris',
 'barron',
 'barry',
 'bart',
 'bartel',
 'barth',
 'barthel',
 'bartholemy',
 'bartholomeo',
 'bartholomeus',
 'bartholomew',
 'bartie',
 'bartlet',
 'bartlett',
 'bartolemo',
 'bartolomei',
 'bartolomeo',
 'barton',
 'barty',
 'bary',
 'basia',
 'basil',
 'batholomew',
 'bathsheba',
 'batsheva',
 'baxter',
 'bay',
 'bayard',
 'bea',
 'beale',
 'bealle',
 'bear',
 'bearnard',
 'beatrice',
 'beatrisa',
 'beatrix',
 'beatriz',
 'beau',
 'beaufort',
 'beauregard',
 'bebe',
 'becca',
 'beck',
 'becka',
 'becki',
 'beckie',
 'becky',
 'bee',
 'beilul',
 'beitris',
 'bekki',
 'bel',
 'bela',
 'belia',
 'belicia',
 'belinda',
 'belita',
 'bell',
 'bella',
 'bellamy',
 'bellanca',
 'belle',
 'bellina',
 'belva',
 'belvia',
 'ben',
 'bendite',
 'benedetta',
 'benedict',
 'benedicta',
 'benedikta',
 'benetta',
 'bengt',
 'benita',
 'benito',
 'benjamen',
 'benjamin',
 'benji',
 'benjie',
 'benjy',
 'benn',
 'bennet',
 'bennett',
 'benni',
 'bennie',
 'benny',
 'benoite',
 'benson',
 'bentley',
 'benton',
 'beowulf',
 'berchtold',
 'berenice',
 'beret',
 'berget',
 'berk',
 'berke',
 'berkeley',
 'berkie',
 'berkley',
 'berna',
 'bernadene',
 'bernadette',
 'bernadina',
 'bernadine',
 'bernard',
 'bernardina',
 'bernardine',
 'bernardo',
 'bernd',
 'bernelle',
 'bernete',
 'bernetta',
 'bernette',
 'bernhard',
 'berni',
 'bernice',
 'bernie',
 'bernita',
 'berny',
 'berri',
 'berrie',
 'berry',
 'bert',
 'berta',
 'berte',
 'bertha',
 'berthe',
 'berti',
 'bertie',
 'bertina',
 'bertine',
 'bertram',
 'bertrand',
 'berty',
 'beryl',
 'beryle',
 'bess',
 'bessie',
 'bessy',
 'beth',
 'bethanne',
 'bethany',
 'bethena',
 'bethina',
 'betsey',
 'betsy',
 'betta',
 'bette',
 'betteann',
 'betteanne',
 'betti',
 'bettie',
 'bettina',
 'bettine',
 'betty',
 'bettye',
 'beulah',
 'bev',
 'beverie',
 'beverlee',
 'beverlie',
 'beverly',
 'bevvy',
 'bharat',
 'bianca',
 'bianka',
 'biddy',
 'bidget',
 'biff',
 'bill',
 'billi',
 'billie',
 'billy',
 'bing',
 'binky',
 'binni',
 'binnie',
 'binny',
 'bird',
 'birdie',
 'birgit',
 'birgitta',
 'bishop',
 'bjorn',
 'bjorne',
 'blaine',
 'blair',
 'blaire',
 'blake',
 'blakelee',
 'blakeley',
 'blanca',
 'blanch',
 'blancha',
 'blanche',
 'blare',
 'blayne',
 'blinni',
 'blinnie',
 'blinny',
 'bliss',
 'blisse',
 'blithe',
 'blondell',
 'blondelle',
 'blondie',
 'blondy',
 'blythe',
 'bo',
 'bob',
 'bobbette',
 'bobbi',
 'bobbie',
 'bobby',
 'bobette',
 'bobina',
 'bobine',
 'bobinette',
 'bogart',
 'bogdan',
 'boniface',
 'bonita',
 'bonnee',
 'bonni',
 'bonnie',
 'bonny',
 'boris',
 'boyce',
 'boyd',
 'brad',
 'braden',
 'bradford',
 'bradley',
 'bradly',
 'brady',
 'brana',
 'brandais',
 'brande',
 'brandea',
 'brandi',
 'brandice',
 'brandie',
 'brandise',
 'brandon',
 'brandy',
 'brant',
 'brea',
 'breanne',
 'brear',
 'bree',
 'breena',
 'bren',
 'brena',
 'brenda',
 'brendan',
 'brenn',
 'brenna',
 'brent',
 'bret',
 'brett',
 'brewer',
 'brewster',
 'bria',
 'brian',
 'briana',
 'brianna',
 'brianne',
 'brice',
 'bride',
 'bridget',
 'bridgett',
 'bridgette',
 'bridie',
 'brier',
 'brietta',
 'briggs',
 'brigid',
 'brigida',
 'brigit',
 'brigitta',
 'brigitte',
 'brina',
 'briney',
 'brinkley',
 'briny',
 'brit',
 'brita',
 'britaney',
 'britani',
 'briteny',
 'britney',
 'britni',
 'britt',
 'britta',
 'brittan',
 'brittany',
 'britte',
 'brittney',
 'brock',
 'broddie',
 'broddy',
 'broderic',
 'broderick',
 'brodie',
 'brody',
 'bronson',
 'brook',
 'brooke',
 'brooks',
 'bruce',
 'brunella',
 'brunhilda',
 'brunhilde',
 'bruno',
 'bryan',
 'bryana',
 'bryant',
 'bryce',
 'bryn',
 'bryna',
 'brynn',
 'brynna',
 'brynne',
 'bryon',
 'bubba',
 'buck',
 'bucky',
 'bud',
 ...]

In [149]:
from sklearn.model_selection import train_test_split

In [150]:
X  #features
y = df['sex'] #Labels

In [151]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [152]:
#Naive Bayes Classification
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, y_train)
classifier.score(X_test, y_test)

0.5939597315436241

In [158]:
#The accuracy of NB model is about 59.4%. It's not a good result. Need to do some tuning and choose better model.
print('The accuracy of model: %.3f ' %classifier.score(X_test, y_test))

The accuracy of model: 0.594

In [159]:
#Let's write a function to predict the gender
def predictgender(x):
  nametesting = [x]
  vector = cv.transform(nametesting).toarray()
  if classifier.predict(vector) == 0:
    print('female')
  else:
    print('male')

In [160]:
predictgender('Marni')

female

In [162]:
predictgender('Rhodia')

female

In [169]:
predictgender('Hirsch')

female

In [170]:
predictgender('Damian')

male

In [171]:
predictgender('Odetta')

female

In [173]:
predictgender('Muhammad')

male

In [174]:
#Let's do some feature analysis. As we see from dataset most of the female names ends in A or E or they have A sound in their pronunciation
def features(name):
  name = name.lower()
  return {
      'first_letter': name[0],
      'first2letters': name[0:2],
      'first3letters': name[0:3],
      'lastletter': name[-1],
      'last2letters': name[-2:],
      'last3letters': name[-3:]
  }

In [175]:
#Vectorize features
features = np.vectorize(features)

In [176]:
#Determine features and labels
df_X = features(df['name'])
df_y = df['sex']

In [177]:
from sklearn.feature_extraction import DictVectorizer

In [178]:
df_X_train, df_X_test, df_y_train, df_y_test = train_test_split(df_X, df_y, test_size=0.3, random_state=1)

In [179]:
df_X_train

array([{'first_letter': 'a', 'first2letters': 'al', 'first3letters': 'ale', 'lastletter': 'i', 'last2letters': 'xi', 'last3letters': 'exi'},
       {'first_letter': 's', 'first2letters': 'st', 'first3letters': 'ste', 'lastletter': 'd', 'last2letters': 'rd', 'last3letters': 'ard'},
       {'first_letter': 'r', 'first2letters': 'ro', 'first3letters': 'rox', 'lastletter': 'i', 'last2letters': 'xi', 'last3letters': 'oxi'},
       ...,
       {'first_letter': 'l', 'first2letters': 'lu', 'first3letters': 'lud', 'lastletter': 'g', 'last2letters': 'ig', 'last3letters': 'wig'},
       {'first_letter': 'h', 'first2letters': 'ha', 'first3letters': 'han', 'lastletter': 'l', 'last2letters': 'el', 'last3letters': 'sel'},
       {'first_letter': 'b', 'first2letters': 'be', 'first3letters': 'ben', 'lastletter': 'i', 'last2letters': 'ni', 'last3letters': 'nni'}],
      dtype=object)

In [180]:
dictvectorizer = DictVectorizer()
dictvectorizer.fit_transform(df_X_train)

<5560x2923 sparse matrix of type '<class 'numpy.float64'>'
	with 33360 stored elements in Compressed Sparse Row format>

In [182]:
#Now let's build a ml model using DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
dtcl = DecisionTreeClassifier()
new_features = dictvectorizer.transform(df_X_train)
dtcl.fit(new_features, df_y_train)

DecisionTreeClassifier()

In [183]:
name = ['Hirsch']
transformed_dictvectorizer = dictvectorizer.transform(features(name))

In [184]:
vector = transformed_dictvectorizer.toarray()

In [185]:
dtcl.predict(vector)

array([1])

In [186]:
#As we see, in our first NB classifier Hirsch has been classified as female, but in DT model it has been classified correctly(as a male)

In [187]:
if dtcl.predict(vector) == 0:
  print('female')
else:
  print('male')

male

In [188]:
#Now let's print accuracy of our model
print(dtcl.score(dictvectorizer.transform(df_X_train), df_y_train))

0.9652877697841726

In [189]:
print(dtcl.score(dictvectorizer.transform(df_X_test), df_y_test))

0.7885906040268457

In [190]:
#As we see DecisionTree classifier better on our dataset than NaiveBayes classifier